﻿@model IEnumerable<HPM.Models.ViewModels.UserProjectModel>

<table class="table table-bordered table-striped table-hover" id="tblUserProject">
    <thead>
        <tr>
            <th>Sr #</th>
            <th>Project</th>
            <th>Project Url</th>
            <th>User</th>
            <th>Right</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @item.Project.Name
                </td>
                <td>
                    @item.Project.Url
                </td>
                <td>
                    @item.User.UserName
                </td>
                <td>
                    @item.Right.Name
                </td>
                <td>
                    <i onclick="deleteUserPro(@item.Id)" style="cursor:pointer;" class="fa fa-trash fa-2x"></i>
                </td>
            </tr>
        }
    </tbody>
</table>
