﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
<script src="~/Js/UserProject/create.js"></script>
    }
<div class="row animated fadeIn" ng-controller="createUserProjectCtrl">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>User Projects</strong>
            </div>
            <form name="frm">
                <div class="card-block">
                    <div class="row m-1">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Province"><strong>Projects</strong></label>
                                <ui-select ng-model="selUserProject.Project" theme="select2" title="Choose a type" on-select="loadProjects()"  name="projects" ng-required="true">
                                    <ui-select-match placeholder="Select a Name">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in projects | filter:  $select.search">
                                        <div ng-bind-html="item.Name"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span style="color:red" ng-show="(frm.projects.$touched || frm.projects.$dirty) && frm.projects.$invalid">
                                    <span ng-show="frm.projects.$error.required">
                                        Project is required.
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Division"><strong>Users</strong></label>
                                <ui-select ng-model="selUserProject.User" theme="select2" title="Choose a type" on-select="loadUsers()" name="users" ng-required="true">
                                    <ui-select-match placeholder="Select a Name">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in users | filter:  $select.search">
                                        <div ng-bind-html="item.Name"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span style="color:red" ng-show="(frm.users.$touched || frm.users.$dirty) && frm.users.$invalid">
                                    <span ng-show="frm.users.$error.required">
                                        User is required.
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Tehsil"><strong>Rights</strong></label>
                                <ui-select ng-model="selUserProject.Right" theme="select2" title="Choose a type" on-select="loadProjectRights()" name="rights" ng-required="true">
                                    <ui-select-match placeholder="Select a Name">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in projectRights | filter:  $select.search">
                                        <div ng-bind-html="item.Name"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span style="color:red" ng-show="(frm.rights.$touched || frm.rights.$dirty) && frm.rights.$invalid">
                                    <span ng-show="frm.rights.$error.required">
                                        Rights is required.
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-sm btn-primary" ng-disabled="frm.$invalid" ng-click="save()"> <span class="fa fa-save"></span> Save</button>
                        </div>
                    </div>
                </div>
            </form>
           

        </div>
    </div>
</div>