﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


<div id="cl-wrapper" class="forgotpassword-container">
    <div class="middle">
        <div class="block-flat">
            <div class="header">
                <h3 class="text-center">
                    <img class="logo-img" src="~/Content/theme/images/logo.png" alt="logo"> Clean Zone
                </h3>
            </div>
            <div>
                <div class="content">
                    <h5 class="title text-center">
                        <strong>Email Sent</strong>
                    </h5>
                    <p class="text-center">Please check your email to reset your password.</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
