﻿@model MSS.Models.ViewModels.Identity.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div id="cl-wrapper" class="forgotpassword-container">
    <div class="middle">
        <div class="block-flat">
            <div class="header">
                <h3 class="text-center"><img class="logo-img" src="~/Content/theme/images/logo.png" alt="logo"> Clean Zone</h3>
            </div>
            <div>
                    <div class="content">
                        <h5 class="title text-center"><strong>Forgot your password?</strong></h5>
                        <p class="text-center">Don't worry, we'll send you an email to reset your password.</p>
                        <hr>
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email Address", @class = "form-control parsley-validated" })
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block btn-primary btn-rad btn-lg" type="submit">Reset Password</button>
                            </div>
                        }
                    </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
