﻿@model MSS.Models.ViewModels.Identity.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HrLogin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="texturehr">

<div id="cl-wrapper" class="login-container">
    <div class="middle-login">
        <div class="block-flat">
            <div class="header" style="background: #4CAF50 !important; border-color: #4CAF50 !important;">
                <h3 class="title" style="color: white"><img src="~/Content/theme/images/login-logo.png"/> HRMIS Login Access
                </h3>
            </div>
            <section id="loginForm">
                <div class="content">
                    @using (Html.BeginForm("HrLogin", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                    {
                        @Html.AntiForgeryToken()
                        <hr/>
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new {@class = "col-md-2 control-label"})
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.UserName, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="foot">
                                <input type="submit" value="Log in" class="btn btn-default"/>
                            </div>

                        </div>

                            @* Enable this once you have account confirmation enabled for password reset functionality
                                <p>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>*@
                    }
                </div>

            </section>

        </div>
    </div>
</div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/js")
        @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
