﻿body {
}
.cursor{
    cursor:pointer;
}



.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d8265f;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1; 
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0; 
        } 
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1; 
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0; 
        }
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #d8265f;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
  
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% { 
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
          transform: translateX(42px) translateY(42px) rotate(-179deg);
          -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
      } 50.1% { 
            transform: translateX(42px) translateY(42px) rotate(-180deg);
            -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        } 75% { 
              transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
              -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          } 100% { 
                transform: rotate(-360deg);
                -webkit-transform: rotate(-360deg);
            }
}


.motijob-sidebar {
    position: relative;
    display: inline-block;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.61);
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
}

.candidate-profile-picture {
    position: relative;
    height: auto;
    margin-bottom: 30px;
    text-align: center;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
}

.candidate-profile-picture .upload-img-field {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border: 0;
    background: url(http://new.uouapps.com/motijobs/img/content/candidate-profile-upload.jpg);
    background-size: cover;
    vertical-align: top;
}

.candidate-general-info {
    position: relative;
    margin-bottom: 30px;
}

.candidate-general-info .title {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.candidate-general-info .title h6 {
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    float: left;
    margin: 0;
    font-size: 20px;
}

.candidate-general-info .title a .fa {
    padding-right: 5px;
}

.candidate-general-info ul.candidate-registration li {
    position: relative;
    padding: 9px 0;
    display: block;
    color: #333;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.candidate-general-info ul.candidate-registration li strong {
    width: 45%;
    padding: 3px;
}

.candidate-general-info ul.candidate-registration li input {
    padding: 3px;
    margin: 0;
    border: 1px solid #e2e2e2;
    font-weight: normal;
    color: #666;
    width: 55%;
}

.job-reg-form {
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 30px 0px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.61);
}

.job-reg-form .form-banner-button {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 20px;
}

.language {
    position: relative;
    display: inline-block;
}

.language-select {
    position: relative;
    width: 80px;
    height: 34px;
}

.uou-custom-select {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}

.candidate-single-content.mt20 {
    border-top: 3px solid #f3f3f3;
}

.candidate-single-content label {
    position: relative;
    width: 100%;
    padding-top: 14px;
    padding-left: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}

.candidate-single-content label span {
    position: relative;
    color: #fc5252;
    font-size: 18px;
    margin-right: 3px;
}

.candidate-single-content .col-md-8 {
    border-left: 3px solid #f3f3f3;
}

.candidate-single-content .candidate-des-editore {
    padding: 15px 15px 20px 0;
}

.candidate-single-content .candidate-des-editore p {
    text-align: right;
    padding-top: 10px;
    margin: 0;
}

.candidate-single-content .candidate-des-editore p a {
    margin-left: 10px;
}


.select2-container .select2-choice {
    border: 1px solid #CCCCCC;
}

.select2-container .select2-choices .select2-search-field input {
    border: 1px solid #CCCCCC;
}

.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 35px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}
/* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
.select-box {
    background: #fff;
    position: relative;
    z-index: 1;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.dropdown-menu {
    width: 75%;
}