﻿@model IEnumerable<HPM.Models.ViewModels.ProgramModel>

<table class="table table-hover table-striped table-bordered" id="tbl">
    <thead>
        <tr>
            <th>Sr #</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Action</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Program",new { id = item.Id})" target="_blank"><i style="cursor:pointer;" class="fa fa-edit fa-2x"></i> </a>
                    <i style="cursor:pointer;" onclick="disableProgram('@item.Id')" class="fa fa-trash fa-2x"></i>
                </td>
            </tr>
        }
    </tbody>
</table>
