﻿@model IEnumerable<HPM.Models.ViewModels.DeveloperModel>

<table class="table table-bordered table-hover table-striped" id="tbl">
    <thead>
        <tr>
            <th>
                Sr #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNIC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
               Contact #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Team Lead
            </th>
            <th>
                Designation
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNIC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                   @if (item.TeamLead == true)
                   {
                       <span style="color:green" class="fa fa-check"></span>
                   }
                   else {
                       <span  style="color:red" class="fa fa-times"></span>
                   }
                </td>
                <td>
                    @{ 
                        var designation = item.Designation?.Name;
                    }
                    @designation
                </td>
                <td>
                    <a href="@Url.Action("Edit","Developer",new { id = item.Id})" target="_blank"><i style="cursor:pointer;" class="fa fa-edit fa-2x"></i> </a> 
                </td>
            </tr>
        }
    </tbody>
</table>
