﻿
@{
    ViewBag.Title = "Developer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Js/Developer/index.js"></script>
}

<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary text-white">
                <strong>Developers</strong>
                <a title="Add new Developer" class="btn btn-sm btn-outline-primary float-right" style="color:white;" href="@Url.Action("Register","Developer")"><span class="fa fa-plus"></span></a>
            </div>
            <div class="card-block">
                <div id="divPartialView">

                </div>
            </div>

        </div>
    </div>
</div>


