﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Js/Developer/register.js"></script>
}

<div class="row animated fadeIn" ng-controller="regstDeveloperCtrl">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary text-white">
                <strong>Register Developer</strong>
            </div>
            <div class="card-block">
                <form name="frm">

                    <div class="row m-1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Name</strong></label>
                                <input type="text" name="name" ng-model="developer.Name" class="form-control" required />
                                <span style="color:red;" ng-if="(frm.name.$touched || frm.name.$dirty ) && frm.name.$invalid">
                                    <span ng-show="frm.name.$error.required">Developer name is required. </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Last Name</strong></label>
                                <input type="text" name="lastName" ng-model="developer.LastName" class="form-control" />
                            </div>
                        </div>

                    </div>

                    <div class="row m-1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>CNIC</strong></label>
                                <input type="text" name="cnic" ng-model="developer.CNIC" class="form-control" />
                               
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Contact No</strong></label>
                                <input type="text" name="password" ng-model="developer.ContactNo" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Designation</strong></label>
                                <ui-select ng-model="developer.Designation" theme="select2" title="Choose a type" name="designation" required>
                                    <ui-select-match placeholder="Select a Name">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in Designation | filter:  $select.search">
                                        <div ng-bind-html="item.Name"></div>
                                    </ui-select-choices>
                                </ui-select>
                               @* <input type="text" name="designation" ng-model="developer.Designation" class="form-control" required />*@
                                <span style="color:red;" ng-show="(frm.designation.$touched || frm.designation.$dirty) && frm.designation.$invalid">
                                    <span ng-show="frm.designation.$error.required">Designation  is required.</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="clearfix"><strong>Team Lead</strong></label>
                                <input type="checkbox" name="teamLead" ng-model="developer.TeamLead" class="form-control" style="width:40px;"  />
                               
                            </div>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Address</strong></label>
                                <textarea class="form-control" ng-model="developer.Address"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Description</strong></label>
                                <textarea class="form-control" ng-model="developer.Description"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-sm btn-primary" ng-disabled="frm.$invalid" ng-click="save()"> <span class="fa fa-save"></span> Save</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

