﻿@model IEnumerable<HPM.Models.ViewModels.ProjectModel>

<table class="table table-bordered table-striped table-hover" id="tblProject">
    <thead>
        <tr>
            <th>Sr #</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
               User Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Projects",new { id = item.Id})" target="_blank"><i style="cursor:pointer;" class="fa fa-edit fa-2x"></i> </a> 
                    <a href="@Url.Action("Detail","Projects",new { id = item.Id})" target="_blank"><i style="cursor:pointer;color:darkturquoise" class="fa fa-info fa-2x"></i> </a> 
                </td>
            </tr>
        }
    </tbody>

</table>
