﻿@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
<script src="~/Scripts/Plugins/Angular/angular-base64-upload/angular-base64-upload.min.js"></script>
<script src="~/Js/_ngApp/directives/filesInput.js"></script>
<script src="~/Js/Project/create.js"></script>
}



<div class="row animated fadeIn" ng-controller="projectCreateCtrl">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary text-white">
                <strong>Create Project</strong>
            </div>
            <div class="card-block">
                <form name="frm" >

                    <div class="row m-1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Name</strong></label>
                                <input type="text" name="name" ng-model="project.Name"  class="form-control" required />
                                <span style="color:red;" ng-if="(frm.name.$touched || frm.name.$dirty ) && frm.name.$invalid">
                                    <span ng-show="frm.name.$error.required">Project name is required. </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Url</strong></label>
                                <input type="text" name="url" ng-model="project.Url" class="form-control" required/>
                                <span  style="color:red;" ng-if="(frm.url.$touched || frm.url.$dirty) && frm.url.$invalid">
                                    <span ng-show="frm.url.$error.required">Url is required.</span>
                                </span>
                            </div>
                        </div>
                 
                    </div>

                    <div class="row m-1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>User Name</strong></label>
                                <input type="text" name="username" ng-model="project.UserName" class="form-control" required/>
                                <span style="color:red;" ng-show="(frm.username.$touched || frm.username.$dirty) && frm.username.$invalid">
                                    <span ng-show="frm.username.$error.required">Username  is required.</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Password</strong></label>
                                <input type="password" name="password" ng-model="project.Password" class="form-control" required/>
                                <span style="color:red;" ng-show="(frm.password.$touched || frm.password.$dirty) && frm.password.$invalid">
                                    <span ng-show="frm.password.$error.required">Password is required.</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Program</strong></label>
                                <ui-select ng-model="project.Program" theme="select2" title="Choose a type" name="program" required>
                                    <ui-select-match placeholder="Select a Name">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in Programs | filter:  $select.search">
                                        <div ng-bind-html="item.Name"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span style="color:red;" ng-show="(frm.program.$touched || frm.program.$dirty) && frm.program.$invalid">
                                    <span ng-show="frm.program.$error.required">Program is required.</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Request Type</strong></label>
                                <ui-select ng-model="project.RequestType" theme="select2" title="Choose a type" name="requestType" required>
                                    <ui-select-match placeholder="Select a Name">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="item in RequestTypes | filter:  $select.search">
                                        <div ng-bind-html="item"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span style="color:red;" ng-show="(frm.requestType.$touched || frm.requestType.$dirty) && frm.requestType.$invalid">
                                    <span ng-show="frm.requestType.$error.required">Request Type is required.</span>
                                </span>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row m-1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Project Order</strong></label>
                                <input type="number" ng-model="project.ProjectOrder" class="form-control" name="projectOrder" />
                                <span style="color:red;" ng-show="(frm.projectOrder.$touched || frm.projectOrder.$dirty) && frm.projectOrder.$invalid">
                                    <span ng-show="frm.projectOrder.$error.required">Order is required.</span>
                                    <span ng-show="frm.projectOrder.$error.number">Number is invalid.</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Team Lead</strong></label>
                                <ui-select ng-model="project.TeamLead" theme="select2" title="Choose a type" name="teamLead" required>
                                    <ui-select-match placeholder="Select a Name">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in TeamLeads | filter:  $select.search">
                                        <div ng-bind-html="item.Name"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span style="color:red;" ng-show="(frm.teamLead.$touched || frm.teamLead.$dirty) && frm.teamLead.$invalid">
                                    <span ng-show="frm.teamLead.$error.required">Team Lead is required.</span>
                                </span>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row m-1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Developers</strong></label>
                                <ui-select ng-model="project.Developer" multiple theme="select2" title="Choose a type" name="developer" required>
                                    <ui-select-match placeholder="Select a Developers">{{$item.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in Developers | filter:  $select.search">
                                        <div ng-bind-html="item.Name"></div>
                                    </ui-select-choices>
                                </ui-select>
                                @*<select class="form-control" ng-model="project.Developer" name="developer" ng-options="x.Name for x in Developers" multiple required>
                    <option value="">-Select-</option>
                </select>*@
                                <span style="color:red;" ng-show="(frm.developer.$touched || frm.developer.$dirty) && frm.developer.$invalid">
                                    <span ng-show="frm.developer.$error.required">Developer is required.</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Technology</strong></label>
                                <ui-select ng-model="project.Technology" theme="select2" title="Choose a type" name="technology" required>
                                    <ui-select-match placeholder="Select a Name">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in Technologies | filter:  $select.search">
                                        <div ng-bind-html="item.Name"></div>
                                    </ui-select-choices>
                                </ui-select>
                                @*<select class="form-control" ng-model="project.Technology" name="technology" ng-options="x.Name for x in Technologies" required>
                                    <option value="">-Select-</option>
                                </select>*@
                                <span style="color:red;" ng-show="(frm.technology.$touched || frm.technology.$dirty) && frm.technology.$invalid">
                                    <span ng-show="frm.technology.$error.required">Developer is required.</span>
                                </span>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row m-1">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label><strong>Description</strong></label>
                                <textarea class="form-control" ng-model="project.Description"></textarea>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row m-1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Image</strong></label>
                                <input type="file" ng-model="project.ImageData" accept="image/x-png,image/gif,image/jpeg" capture files-input />
                            </div>
                        </div>
                    </div>

                    <div class="row m-1">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-sm btn-primary" ng-disabled="frm.$invalid" ng-click="save()"> <span class="fa fa-save"></span> Save</button>
                        </div>
                    </div>
                </form>
               
            </div>

        </div>
    </div>
</div>

<input type="hidden" value="@ViewBag.Id" id="hidId"/>