﻿@using HPM.Models
@model HPM.Models.ViewModels.ProjectModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary text-white">
                <strong>Project Detail</strong>
            </div>
            <div class="card-block">

                <div class="row m-1">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label><strong>Name</strong></label>
                        </div>
                        <div class="col-md-8">
                            @Model.Name
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label><strong>URL</strong></label>
                        </div>
                        <div class="col-md-8">
                            @Model.Url
                        </div>
                    </div>

                </div>

                <div class="row m-1">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label><strong>User Name</strong></label>
                        </div>
                        <div class="col-md-8">
                            @Model.UserName
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label><strong>Password</strong></label>
                        </div>
                        <div class="col-md-8">
                            @Model.Password
                        </div>
                    </div>

                </div>

                <div class="row m-1">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label><strong>Program</strong></label>
                        </div>
                        <div class="col-md-8">
                            @{ 
                                var program = Model.Program?.Name;
                            }
                            @program
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label><strong>Team Lead</strong></label>
                        </div>
                        <div class="col-md-8">
                            @{
                                var teamLead = Model.TeamLead?.Name;
                            }
                            @teamLead
                        </div>
                    </div>
                    @*<div class="col-md-6">
                        <div class="col-md-4">
                            <label><strong>Project Order</strong></label>
                        </div>
                        <div class="col-md-8">
                            @Model.ProjectOrder
                        </div>
                    </div>*@

                </div>

                <div class="row m-1">
                   
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label><strong>Technolgy</strong></label>
                        </div>
                        <div class="col-md-8">
                            @{ 
                                var technology = Model.Technology?.Name;
                            }
                            @technology
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label><strong>Description</strong></label>
                        </div>
                        <div class="col-md-8">
                            @Model.Description
                        </div>
                    </div>
                </div>

                <div class="row m-1">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label><strong>Image</strong></label>
                        </div>
                        <div class="col-md-8">
                            <img src="~/Images/Project/@Model.ImageName" class="img-responsive"/>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    @{ 
        var devCount = 1;
        var phaseCount = 1;
    }
    @if (Model.Developer.Count() != 0)
    {
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary text-white">
                    <strong>Developers</strong>
                </div>
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr #</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Developer)
                            {
                                <tr>
                                    <td>
                                       @devCount
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>

                                </tr>
                                devCount++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    }
    @if (Model.ProjectPhases.Count() != 0)
    {
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary text-white">
                    <strong>Project Phases</strong>
                </div>
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr #</th>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProjectPhases)
                            {
                                <tr>
                                    <td>
                                        @phaseCount
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @{
                                            var startDate = item.StartDate?.ToString("dd-MM-yyyy");
                                        }
                                        @startDate
                                    </td>
                                    <td>
                                        @{
                                            var endDate = item.EndDate?.ToString("dd-MM-yyyy");
                                            phaseCount++;
                                        }
                                        @endDate
                                    </td>
                                    <td>@item.Description</td>
                                </tr>
                                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    }

    

</div>