﻿
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
<script src="~/Js/Project/index.js"></script>
    }

<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary text-white">
                <strong>Projects</strong>
                <a title="Add new project" class="btn btn-sm btn-outline-primary float-right" style="color:white;" href="@Url.Action("Create","Projects")"><span class="fa fa-plus"></span></a>
            </div>
            <div class="card-block">
                <div id="divPartialView">

                </div>
            </div>

        </div>
    </div>
</div>
