﻿@model IEnumerable<HPM.Models.ViewModels.ProjectIterationModel>

<table class="table table-bordered table-striped table-hover" id="tbl">
    <thead>
        <tr>
            <th>
                Sr #
            </th>
            <th>
                Project
            </th>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @{
                        var project = item.Project?.Name;
                    }
                    @project
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a href="@Url.Action("Edit","ProjectPhases",new { id = item.Id})" target="_blank"><i style="cursor:pointer;" class="fa fa-edit fa-2x"></i> </a>
                </td>
            </tr>
                        }
    </tbody>

</table>
