﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en" ng-app="HpmApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.png">
    <title>@ViewBag.Title - PHFMC Super Dashboard</title>
    <!-- Icons -->
    <link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/simple-line-icons.css" rel="stylesheet">
    <!-- Premium Icons -->
    <link href="~/Content/assets/css/glyphicons.css" rel="stylesheet">
    <link href="~/Content/assets/css/glyphicons-filetypes.css" rel="stylesheet">
    <link href="~/Content/assets/css/glyphicons-social.css" rel="stylesheet">
    <!--Bootstrap Cs -->
    <!-- Main styles for this application -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/assets/css/custom-style.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/datatable/css/jquery.dataTables.css" rel="stylesheet" />
    @*<link href="~/Content/assets/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet"/>*@
    <link href="~/Content/assets/plugins/Gallery-master/css/blueimp-gallery.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/datatable/css/dataTables.bootstrap.css" rel="stylesheet" />

    <link href="~/Content/assets/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/Scripts/Plugins/Angular/ui_select_master/select.min.css" rel="stylesheet" />
    <!-- AngularJS Material CSS now available via Google CDN; version 1.1.4 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">

    <!-- AngularJS JS 1.6.4 -->
    <script src="~/Scripts/Plugins/Angular/angular/angular.js"></script>
    <script src="~/Scripts/Plugins/Angular/angular/angular-animate.js"></script>
    <script src="~/Scripts/Plugins/Angular/angular/angular-aria.min.js"></script>
    <script src="~/Scripts/Plugins/Angular/angular/angular-sanitize.js"></script>
    <script src="~/Scripts/Plugins/Angular/angular/angular-messages.min.js"></script>
    <script src="~/Scripts/Plugins/Angular/ui_select_master/select.min.js"></script>

    <script type="text/javascript">
        var app = angular.module('HpmApp', ["ngMessages"]);
    </script>

    @RenderSection("css", required: false)
</head>
<!-- BODY options, add following classes to body to change options

// Header options
1. '.header-fixed'					- Fixed Header

// Sidebar options
1. '.sidebar-fixed'					- Fixed Sidebar
2. '.sidebar-hidden'				- Hidden Sidebar
3. '.sidebar-off-canvas'		- Off Canvas Sidebar
4. '.sidebar-compact'				- Compact Sidebar Navigation (Only icons)

// Aside options
1. '.aside-menu-fixed'			- Fixed Aside Menu
2. '.aside-menu-hidden'			- Hidden Aside Menu
3. '.aside-menu-off-canvas'	- Off Canvas Aside Menu

// Footer options
1. 'footer-fixed'						- Fixed footer

-->
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden ng-cloak">
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
            </li>

        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="~/Content/assets/img/avatars/user.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="hidden-md-down">@User.Identity.GetUserName()</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    @*<div class="dropdown-header text-center">
                            <strong>Account</strong>
                        </div>
                        <div class="dropdown-header text-center">
                            <strong>Settings</strong>
                        </div>
                        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
                        <div class="divider"></div>*@
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
            <li class="nav-item hidden-md-down">
            </li>

        </ul>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { @id = "logoutForm", @class = "" }))
            {
                @Html.AntiForgeryToken()
            }
        }
    </header>
    <div class="app-body">

        <div class="sidebar">
            <nav class="sidebar-nav">

                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="icon-speedometer"></i> Dashboard</a>
                    </li>
                    <li class="divider"></li>
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Program")"><i class="fa fa-folder"></i>Programs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Projects")"><i class="fa fa-folder"></i>Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Users", "StaffManage")"><i class="fa fa-folder"></i>Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "UserProjects")"><i class="fa fa-folder"></i>User Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Developer")"><i class="fa fa-folder"></i>Developers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Designation")"><i class="fa fa-folder"></i>Designations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "ProjectPhases")"><i class="fa fa-folder"></i>Project Phases</a>
                        </li>

                    }
                </ul>

            </nav>
        </div>
        <!-- Main content -->
        <main class="main">
            <div class="container-fluid pt-2">
                @RenderBody()
            </div>
            <!-- /.conainer-fluid -->
        </main>

    </div>
    <footer class="app-footer">
        <strong>HISDU &copy;</strong>
    </footer>
    <!-- Bootstrap and necessary plugins -->
    <script src="~/Content/assets/js/libs/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/assets/js/libs/tether.min.js"></script>
    <script src="~/Content/assets/js/libs/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/libs/pace.min.js"></script>

    <!-- Plugins and scripts required by all views -->
    <script src="~/Content/assets/js/libs/Chart.min.js"></script>

    <!-- GenesisUI main scripts -->
    <script src="~/Content/assets/js/app.js"></script>


    <!-- Plugins and scripts required by this views -->
    <script src="~/Content/assets/js/libs/toastr.min.js"></script>
    <script src="~/Content/assets/js/libs/gauge.min.js"></script>
    <script src="~/Content/assets/js/libs/moment.min.js"></script>
    <script src="~/Content/assets/js/libs/daterangepicker.js"></script>
    <script src="~/Scripts/Plugins/JS/underscore/underscore-min.js"></script>
    <script src="~/Content/assets/plugins/datatable/js/jquery.dataTables.js"></script>
    <script src="~/Content/assets/plugins/datatable/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/assets/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="~/Content/assets/plugins/Gallery-master/js/blueimp-gallery.js"></script>

    @RenderSection("scripts", required: false)

    <!-- Custom scripts required by this view -->
</body>
</html>