﻿@using MSS.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MSS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
    <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/fixedHeader.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    <div id="static-loader" class="static-loader">
        Loding...
    </div>
    <div id="cl-wrapper">

        <div class="container-fluid" id="pcont">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryValidation")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            App.init();
            customLoader('hide');
        });

    </script>

    <input type="hidden" id="notifyMessage" value="@ViewBag.Message" />
</body>
</html>
