﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    <title>PHFMC Dashboard Login</title>
    <!-- Icons -->
    <link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
</head>
<body class="app flex-row align-items-center" style="background-image: url(/Content/assets/img/bg.jpg); background-repeat: repeat;">
    <div class="container">
        @RenderBody()
    </div>
    <!-- Bootstrap and necessary plugins -->
    <script src="~/Content/assets/js/libs/jquery.min.js"></script>
    <script src="~/Content/assets/js/libs/tether.min.js"></script>
    <script src="~/Content/assets/js/libs/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)


</body>
</html>
