﻿@using Microsoft.AspNet.Identity

<div id="head-nav" style="margin:0" class="navbar navbar-default navbar-fixed-top wow fadeIn">
    <div class="container-fluid">
        <div class="navbar-header">
            @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-gear"></span>
            </button>*@
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Prescription Management System</a>
        </div>
        <div class="navbar-collapse collapse">
            @*<ul class="nav navbar-nav">
                @{
                    foreach (var item in Model.GetMainMenu())
                    {
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == item.ControllerName ? "active" : "")">
                            <a href="@Url.Action(item.ActionName, item.ControllerName)">@item.ActionText</a>
                        </li>
                    }
                }
            </ul>*@

            @*<ul class="nav navbar-nav navbar-right user-nav">
                <li class="dropdown profile_menu wow fadeInDown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="height:62px;color:black"><img alt="Avatar" src="~/Content/theme/images/avatars/avatar2.jpg" width="35" height="35" />@User.identity.GetUserName() <b class="caret" style="color:black"></b></a>
                    <ul class="dropdown-menu" style="margin:0">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <li>
                                    @Html.ActionLink("Change Password", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:document.getElementByid('logoutForm').submit()"><u>Log off</u></a>
                                </li>
                            }
                        }
                    </ul>
                </li>
            </ul>*@

        </div>
    </div>
</div>