﻿@using HPM.Models
@using Microsoft.AspNet.Identity

@{
    var mainMenu = new MainMenuModel();
}


<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/"><i class="icon-speedometer"></i> Dashboard</a>
    </li>
    <li class="divider"></li>


    @foreach (var item in mainMenu.GetNavDropMenu())
    {
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="@item.Icon"></i> @item.ActionText</a>
            <ul class="nav-dropdown-items">

                @foreach (var navItem in item.NavItems)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action(navItem.ActionName, navItem.ControllerName)"><i class="@navItem.Icon"></i> @navItem.LinkText</a>
                    </li>
                }
            </ul>
        </li>
    }

    @foreach (var item in mainMenu.GetNavItems())
    {
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action(item.ActionName, item.ControllerName)"><i class="@item.Icon"></i> @item.LinkText</a>
        </li>
    }

    @*<li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-plus"></i> Premises</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Manufacturer")"><i class="fa fa-industry"></i> Manufacturer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Importers")"><i class="fa fa-truck"></i> Importers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Distributor")"><i class="fa fa-cube"></i>Distributor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Wholesaler")"><i class="fa fa-shopping-basket"></i> Wholesaler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "POS")"><i class="fa fa-money"></i>Point of Sale</a>
                </li>
            </ul>
        </li>*@

    @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "TherapeuticGoodNg")"><i class="fa fa-medkit"></i>&nbsp;Therapeutic Goods</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Strengths")"><i class="fa fa-signal"></i>Strength</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "DosageForms")"><i class="fa fa-truck"></i>Dosage Forms</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Pharmaceutical")"><i class="fa fa-building"></i>Pharma Ingredients</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Batch")"><i class="fa fa-cube"></i>Batch</a>
        </li>

        @if (User.IsInRole("Administrator"))
                {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Users", "StaffManage")"><i class="fa fa-cube"></i>Users Manage</a>
            </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "MeetingAgenda")"><i class="fa fa-cube"></i> Meeting Agenda</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Profile")"><i class="fa fa-user"></i>Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Jurisdiction")"><i class="fa fa-cube"></i>Jurisdiction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "EnlistmentCategory")"><i class="fa fa-tags"></i>Enlistment Category </a>
                    </li>

        }
        @if (User.IsInRole("Government Analyst") || User.IsInRole("Administrator"))
                {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "GovtAnalyst")"><i class="fa fa-cube"></i>Samples</a>
            </li>
        }
        @if (User.IsInRole("PQCB") || User.IsInRole("DQCB"))
                {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "PQCBDQCB")"><i class="fa fa-cube"></i> Cases</a>
            </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "MeetingAgenda")"><i class="fa fa-cube"></i> Meeting Agenda</a>
                    </li>
        }

        @if (User.IsInRole("Drug Inspector") || User.IsInRole("Administrator"))
                {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "DrugInspector")"><i class="fa fa-cube"></i> Cases</a>
            </li>

        }

        @if (User.IsInRole("Chief Drug Controller"))
                {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "InspectionPlan")"><i class="fa fa-cube"></i>Inspection Plan</a>
            </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "DrugInspectItems")"><i class="fa fa-cube"></i>DI Forms &amp; Bags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "CDC")"><i class="fa fa-cube"></i> Cases</a>
                    </li>

        }*@

    @*<li class="nav-item">
               <a class="nav-link" href="@Url.Action("Index","Strengths")"><i class="fa fa-signal"></i>Strength</a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="@Url.Action("Index","EnlistmentCategory")"><i class="fa fa-tags"></i>Enlistment Category </a>
           </li>
           <li class="nav-item">
               <a class="nav-link" href="@Url.Action("Users","StaffManage")"><i class="fa fa-tags"></i>User Management </a>
        </li>*@
</ul>
