﻿@model  IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Role</th>
            <th style="width:15%;">Action</th>
        </tr>
    </thead>
    <tbody class="no-border-y">
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.Name == null ? "" : item.Name)</td>
                <td class="pull-right">
                    @*<a class="label label-default" href="#"><i class="fa fa-pencil"></i></a>*@
                    <a class="label label-danger" style="cursor:pointer;color:red;" onclick="deleteRole('@item.Name')"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>
