﻿@model  IEnumerable<HPM.Models.AspNetUser>
<table class="table table-bordered table-hover table-striped" id="tbl">
    <thead>
        <tr>
            <th style="width:30%;"><strong>Username</strong></th>
            @*<th style="width:30%;"><strong>Role</strong></th>*@
            <th style="width:15%;" class="text-center"><strong>Action</strong></th>
        </tr>
    </thead>
    <tbody class="no-border-y">
        @foreach (var item in Model)
        {
            {
                //var roles = item.AspNetRoles.
                <tr>
                    <td>@(item.UserName == null ? "" : item.UserName)</td>
                    @*<td>
                        @foreach (var role in item.AspNetRoles)
                        {
                            <span>@(role.Name == null ? "" : role.Name) </span>
                        }
                    </td>*@
                    <td class="text-center"><a class="label label-default" href="@Url.Action("EditUser","StaffManage", new { Id = item.Id })"><i class="fa fa-pencil"></i></a></td>
                </tr>
            }
        }
    </tbody>
</table>
