﻿@model HPM.Models.CreateUserViewModel

@{
    ViewBag.Title = "Create User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary text-white">
                <strong>Add User</strong>
            </div>
            <div class="card-block">
                @using (Html.BeginForm("AddUser", "StaffManage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <h4 class="title text-center">Create a new account.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserDetail, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserDetail, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.roles, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.ListBoxFor(m => m.roles, new SelectList(ViewBag.roles, "Name", "Name"), new { @class = "form-control" })
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-3">
                                <input type="submit" class="btn btn-block btn-success btn-lg" value="Create" />
                            </div>
                        </div>
                }
            </div>

        </div>
    </div>
</div>

@*<div class="cl-mcont">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="block-flat">

            </div>
        </div>
    </div>
</div>*@

<input type="hidden" id="hidLoadDrpDivisions" value="@Url.Action("DrpDivisions", "Common")" />
<input type="hidden" id="hidLoadDrpDistricts" value="@Url.Action("DrpDistricts", "Common")" />