﻿@model HPM.Models.UpdateUserViewModel

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{

}


<div class="page-head">
    <h2>Edit User</h2>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active"><a href="@Url.Action("EditUser", "StaffManage")">Edit User</a></li>
    </ol>
</div>

<div class="cl-mcont">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                @using (Html.BeginForm("EditUser", "StaffManage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <h4 class="title text-center">Edit account.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserDetail, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserDetail, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.roles, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.ListBoxFor(m => m.roles, new SelectList(ViewBag.roles, "Name", "Name", Model.roles), new { @class = "form-control" })
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-3">
                                <input type="hidden" id="Id" value="@Model.Id" />
                                <input type="submit" class="btn btn-block btn-success btn-rad btn-lg" value="Update" />
                            </div>
                        </div>
                }
            </div>
        </div>
    </div>
</div>