﻿
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    <script src="~/Js/StaffManage/Roles.js"></script>
}

<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary text-white">
                <strong>Add Role</strong>
                <a id="divAdd" title="Show" class="btn btn-sm btn-outline-primary float-right" style="color:white;" onclick="showAdd('show')"><span class="fa fa-plus"></span></a>
                <a id="divClose" title="Close" class="btn btn-sm btn-danger float-right" style="display:none;" onclick="showAdd('hide')"><span class="fa fa-minus"></span></a>
            </div>
            <div class="card-block">
                <div id="divHide" class="row table-toolbar" style="display:none">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-3">
                                    <label>Role</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="txtName" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="button" class="btn btn-primary" onclick="save()"> Save </button>
                                <button type="button" class="btn red" onclick="clears()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary text-white">
                <strong>Roles</strong>
            </div>
            <div class="card-block">
                <div id="divPartialView">

                </div>
            </div>

        </div>
    </div>
</div>

<input type="hidden" id="hidPartialViewUrl" value="@Url.Action("RolesView", "StaffManage")" />
<input type="hidden" id="hidSaveRoleUrl" value="@Url.Action("SaveRole", "StaffManage")" />
<input type="hidden" id="hidDeleteRoleUrl" value="@Url.Action("deleteRole", "StaffManage")" />

