﻿
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Js/StaffManage/Users.js"></script>
}

<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary text-white">
                <strong>Users</strong>
                <a title="Register" class="btn btn-sm btn-outline-primary float-right" style="color:white;" href="@Url.Action("AddUser","StaffManage")"><span class="fa fa-plus"></span></a>
            </div>
            <div class="card-block">
                @*<div class="row">
                        <button id="sample_editable_1_new" onclick="window.location.href = '/StaffManage/AddUser';" class="btn btn-success">
                            <i class="fa fa-plus"></i> Add User
                        </button>
                    </div>*@
                <div id="divPartialView">

                </div>
            </div>

        </div>
    </div>
</div>


<input type="hidden" id="hidPartialViewUrl" value="@Url.Action("UsersView", "StaffManage")" />
