﻿
@using Microsoft.AspNet.Identity
@using HPM.Models.ViewModels;
@model IEnumerable<UserProjectModel>
@{
    ViewBag.Title = "Home";
}

@{
    var user = User.Identity.GetUserId();
}

@section scripts{
    <script src="~/Js/Home/index.js"></script>
}
<div class="animated fadeIn" ng-controller="homeCtrl">
<div class="row">
    @if (User.IsInRole("admin"))
    {
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-block p-1 clearfix">
                    <i class="fa fa-industry bg-primary p-1 font-2xl mr-1 float-left"></i>
                    <div class="text-uppercase text-muted font-weight-bold font-xs mb-0 mt-h">Total Project</div>
                    <div class="h5">{{projectCount}}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-block p-1 clearfix">
                    <i class="fa fa-industry bg-primary p-1 font-2xl mr-1 float-left"></i>
                    <div class="text-uppercase text-muted font-weight-bold font-xs mb-0 mt-h">Total Users</div>
                    <div class="h5">{{userCount}}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-block p-1 clearfix">
                    <i class="fa fa-industry bg-primary p-1 font-2xl mr-1 float-left"></i>
                    <div class="text-uppercase text-muted font-weight-bold font-xs mb-0 mt-h">Total Leads</div>
                    <div class="h5">{{teamLeasdCount}}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-block p-1 clearfix">
                    <i class="fa fa-industry bg-primary p-1 font-2xl mr-1 float-left"></i>
                    <div class="text-uppercase text-muted font-weight-bold font-xs mb-0 mt-h">Total Developers</div>
                    <div class="h5">{{developerCount}}</div>
                </div>
            </div>
        </div>
    }


</div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 img-box">
                <img src="~/Images/Project/@item.Project.ImageName" class="img-responsive img-fluid">
                <h3>@item.Project.Name</h3>
                <p style="max-height:88px !important; overflow:hidden;">@item.Project.Description</p>
                @if (item.Right.Name == "Write")
                {
                    <a class="btn btn-sm btn-info" style="float:left;" target="_blank" href="@Url.Action("Edit","Projects",new { id = item.Project.Id})">Edit</a>
                }
              @if (item.Project.RequestType == "GET")
              {
                <a class="btn btn-sm btn-success ml-1" href="@item.Project.Url?username= @item.Project.UserNameBase64&password=@item.Project.PasswordBase64" target="_blank">View</a>
              }
              else
              {
                <form action="@item.Project.Url" method="post" target="_blank" style="float:left; margin-left:10px;">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="UserName" value="@item.Project.UserName" />
                    <input type="hidden" name="Password" value="@item.Project.Password" />
                    <div class="text-uppercase text-muted font-weight-bold font-xs">
                        <button type="submit" class="btn btn-sm btn-success">View</button>
                    </div>
                </form>
              }
            </div>
            @*<div class="col-md-6">
                <div class="card">
                    <div class="card-block p-1 clearfix">
                        <i class="fa fa-industry bg-primary p-1 font-2xl mr-1 float-left"></i> @if (item.Right.Name =="Write")
                        {
                           <a class="btn btn-sm btn-info" target="_blank" href="@Url.Action("Edit","Projects",new { id = item.Project.Id})">Edit</a> 
                        } 
                        @if (item.Project.RequestType == "GET")
                        {
                            <a class="btn btn-sm btn-success" href="@item.Project.Url?username= @item.Project.UserNameBase64&password=@item.Project.PasswordBase64" target="_blank">View</a>
                            <div class="text-uppercase text-muted font-weight-bold font-xs mb-0 mt-h"><h4>@item.Project.Name</h4></div>
                        }
                        else
                        {
                            <form action="@item.Project.Url" method="post" target="_blank">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="UserName" value="@item.Project.UserName"/>
                                <input type="hidden" name="Password" value="@item.Project.Password" />
                                <div class="text-uppercase text-muted font-weight-bold font-xs mb-0 mt-h"><h4>
                                <button type="submit" class="btn btn-sm btn-success">View</button></h4>
                                </div>
                            </form>
                            <div class="text-uppercase text-muted font-weight-bold font-xs mb-0 mt-h"><h4>@item.Project.Name</h4></div>
                        }
                        
                        @item.Project.Description
                    </div>
                </div>
            </div>*@
        }
    </div>
</div>
